@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: translate(1px, 1px);
}

nav a {
  text-decoration: none;
  color: #4D4D4D;
}

.navbar {
  padding: 0 1.5rem;
  background-color: #fff7ed;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.vanlife-home {
  padding: 2rem 0;
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 1.75rem;
  cursor: pointer;
  }

.navbar-routes {
  font-weight: 600;
  font-size: 1rem;
  color: #4d4d4d;
  display: inline-block;
  cursor: pointer;
}

nav a:hover, .navbar-routes:hover {
  color: #161616;
  text-decoration: underline;
}

.route-vans {
  padding: 0 0.75rem;
}

.home-route-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/homeImg.jpg");
  background-size: cover;
  background-position: right center;
  color: white;
}

.home-container {
  padding: 7.75rem 1.5rem;
  text-align: left;
}

.home-first-subheading {
  padding: 1rem 0;
  font-weight: 800;
  font-size: 3rem;
  line-height: 2.5rem;
}

.home-desc-text {
  padding: 4rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.home-container > button {
  background-color: #ff8c38;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  color: #fff7ed;
  border-width: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0.75rem 0;
}

/* About Page Styling */

.about-route {
  background-color: #fff7ed;
}

.about-top-image {
  width: 100%;
  height: 55vh;
}

.about-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.about-heading {
  padding: 2.5rem 0;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2rem;
}

.about-below-image {
  padding: 0 1.5rem 2rem;
}

/* About Button Section */

.button-div {
  background-color: #ffcc8d;
  margin: 1.5rem 0;
  text-align: left;
  padding: 1.5rem;
  border-radius: 10px;
}

.button-div-text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  padding-bottom: 1rem;
}
.button-div-button {
  background-color: #161616;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  border-width: 0;
  cursor: pointer;
}
/* Footer Styling */
.footer-div {
  background-color: #252525;
  color: #aaaaaa;
  text-align: center;
  padding: 2rem 0;
}

/* Vans Route */

.vans-route {
  background-color: #fff7ed;
}

.vans-container {
  padding: 2rem 1.5rem;
}

.vans-route-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  padding-bottom: 1.25rem;
}

.filterbuttons {
  display: inline-flex;
  color: #4d4d4d;
  background-color: #ffead0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 5px;
  padding: 0.25rem 1.25rem;
}

.clear-filters {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: left;
  color: #4d4d4d;
  display: inline-flex;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.5rem 0 0;
}

.clear-filters:hover {
  color: rgba(0, 0, 0, 0.5);
}

.vans-grid {
  padding: 2.5rem 0;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

/* VanComponent */
.van-item-container {
  cursor: pointer;
}

.van-item-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.name-price-div {
  padding: 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
}

.van-name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
}

.van-price {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: right;
}

/* Individual Van Route */

.each-van-route {
  padding: 2rem 1.25rem;
  background-color: #fff7ed;
}

.back-to-vans {
  color: #201f1d;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.each-van-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  align-self: center;
  border-radius: 5px;
  margin: 2rem 0;
}

.each-van-name {
  color: #161616;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.125rem;
  padding: 1rem 0;
}

.each-van-price {
  font-weight: 700;
  font-size: 1.5rem;
}

.each-van-desc {
  padding: 1rem 0;
  font-size: 1rem;
font-weight: 500;
line-height: 1.5rem;
}

.each-van-rentBtn {
  padding: 0.75rem 1.25rem;
  background-color: #FF8C38;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 821px) {
  .home-container > button {
    width: 25%;
  }

  .each-van-div {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    align-items: center;
    gap: 4rem;
  }

  .each-van-img {
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
  }
}

.host-header {
  padding: 1.5rem;
  background-color: #fff7ed;
}

.navbar-host {
  font-weight: 700;
  font-size: 1rem;
  color: #4d4d4d;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
}